ECRService/WebService/Creditreport.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://creditws.les.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Creditreport" targetNamespace="http://creditws.les.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://creditws.les.com/" schemaLocation="Creditreport_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getreportlist">
    <part element="tns:getreportlist" name="parameters"/>
  </message>
  <message name="getreportlistResponse">
    <part element="tns:getreportlistResponse" name="parameters"/>
  </message>
  <message name="getImportQyxybg">
    <part element="tns:getImportQyxybg" name="parameters"/>
  </message>
  <message name="getImportQyxybgResponse">
    <part element="tns:getImportQyxybgResponse" name="parameters"/>
  </message>
  <message name="checkXybgByYzm">
    <part element="tns:checkXybgByYzm" name="parameters"/>
  </message>
  <message name="checkXybgByYzmResponse">
    <part element="tns:checkXybgByYzmResponse" name="parameters"/>
  </message>
  <message name="getreport">
    <part element="tns:getreport" name="parameters"/>
  </message>
  <message name="getreportResponse">
    <part element="tns:getreportResponse" name="parameters"/>
  </message>
  <message name="updatereportstatus">
    <part element="tns:updatereportstatus" name="parameters"/>
  </message>
  <message name="updatereportstatusResponse">
    <part element="tns:updatereportstatusResponse" name="parameters"/>
  </message>
  <message name="getQyjbxx">
    <part element="tns:getQyjbxx" name="parameters"/>
  </message>
  <message name="getQyjbxxResponse">
    <part element="tns:getQyjbxxResponse" name="parameters"/>
  </message>
  <message name="getQyxyxx">
    <part element="tns:getQyxyxx" name="parameters"/>
  </message>
  <message name="getQyxyxxResponse">
    <part element="tns:getQyxyxxResponse" name="parameters"/>
  </message>
  <message name="getBusinessUndertakingList">
    <part element="tns:getBusinessUndertakingList" name="parameters"/>
  </message>
  <message name="getBusinessUndertakingListResponse">
    <part element="tns:getBusinessUndertakingListResponse" name="parameters"/>
  </message>
  <message name="getBusinessUndertaking">
    <part element="tns:getBusinessUndertaking" name="parameters"/>
  </message>
  <message name="getBusinessUndertakingResponse">
    <part element="tns:getBusinessUndertakingResponse" name="parameters"/>
  </message>

  <portType name="CreditreportDelegate">
  <operation name="getBusinessUndertakingList">
      <input message="tns:getBusinessUndertakingList"/>
      <output message="tns:getBusinessUndertakingListResponse"/>
    </operation>
    <operation name="getBusinessUndertaking">
      <input message="tns:getBusinessUndertaking"/>
      <output message="tns:getBusinessUndertakingResponse"/>
    </operation>
  <operation name="getQyjbxx">
      <input message="tns:getQyjbxx"/>
      <output message="tns:getQyjbxxResponse"/>
    </operation>
    <operation name="getQyxyxx">
      <input message="tns:getQyxyxx"/>
      <output message="tns:getQyxyxxResponse"/>
    </operation>
  <operation name="updatereportstatus">
      <input message="tns:updatereportstatus"/>
      <output message="tns:updatereportstatusResponse"/>
    </operation>
  <operation name="getreport">
      <input message="tns:getreport"/>
      <output message="tns:getreportResponse"/>
    </operation>
  <operation name="getreportlist">
      <input message="tns:getreportlist"/>
      <output message="tns:getreportlistResponse"/>
    </operation>
    <operation name="getImportQyxybg">
      <input message="tns:getImportQyxybg"/>
      <output message="tns:getImportQyxybgResponse"/>
    </operation>
    <operation name="checkXybgByYzm">
      <input message="tns:checkXybgByYzm"/>
      <output message="tns:checkXybgByYzmResponse"/>
    </operation>
  </portType>
  <binding name="creditreportBinding" type="tns:CreditreportDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="getBusinessUndertakingList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBusinessUndertaking">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
	<operation name="getQyjbxx">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getQyxyxx">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
	<operation name="updatereportstatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
	<operation name="getreport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
	<operation name="getreportlist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getImportQyxybg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkXybgByYzm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Creditreport">
    <port binding="tns:creditreportBinding" name="creditreport">
      <soap:address location="http://192.200.200.122:8080/WinHall/services/creditreport"/>
    </port>
  </service>
</definitions>
